/* Flex container for the row */
.flex-container {
  display: flexbox;
  flex-wrap: wrap;
}
.grid-container {
  display: -moz-grid-group;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-gap: 10px; */
}

/* Each item inside the Flex container */
.w3-third {
  flex: 1; /* Each item will take equal space */
  padding: 10px;
  box-sizing: border-box;
}

.w3-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  overflow: hidden;
}

.w3-card img {
  width: 100%;
  height: 200px; /* Set the desired height for the images */
  object-fit: cover;
}

.w3-container {
  padding: 25px;
}
.w3-container-1 {
  padding: 30px;
}

.w3-quarter-About{
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:30px;
  /* font-style: italic; */
  text-align: center;
  /* font-weight: bold; */
  font-variant: small-caps;
  color: rgb(68, 67, 67);
}